<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=4, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
<h1>Pocetna</h1>

<a href="http://localhost:3000/">Pocetna</a>
<a href="http://localhost:3000/termin">termini</a>
<a href="http://localhost:3000/utorak">Utorak</a>
</body>

</html>