<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=4, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>

    <a href="http://localhost:3000/">Pocetna</a>
    <a href="http://localhost:3000/termin">termini</a>
    <a href="http://localhost:3000/utorak">Utorak</a>
    Result in ejs templating system:
    <table>
        <tr>
            <td>Id</td>
            <td>Dan</td>
            <td>Sat</td>
        </tr>
        <%= JSON.stringify(REZULTAT) %>

        <% for(var i=0; i<REZULTAT.length; i++) {%>
            <tr>
                <td>
                    <%= REZULTAT[i].id%>
                </td>
                <td>
                    <%= REZULTAT[i].dan%>
                </td>
                <td>
                    <%= REZULTAT[i].sat%>
                </td>
            </tr>
            <% } %>

    </table>
</body>

</html>